@import 'mixins';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&subset=latin-ext');
html {
    font: 62.5%/1.5 'Montserrat', Arial, sans-serif;
}
body {
    color: #000;
    background: #FFF;
}
.skip-link {
    position: absolute;
    left: -999rem;
    padding: 15px 20px;
    background: #95e1d3;
    color: #FFF;
    font-size: 1.6rem;
    
    &:focus {
        position: absolute;
        left: 0;
        text-decoration: underline;
        z-index: 1000;
    }
}
