@import 'mixins';
@import 'default';
@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400&subset=latin-ext');

html {
    font: 62.5% 'Montserrat', Arial, sans-serif;
}
body {
    color: #000;
    background: #FFF;
}
.skip-link {
    position: absolute;
    left: -999rem;
    padding: 15px 20px;
    background: #95e1d3;
    color: #FFF;
    font-size: 1.6rem;
    
    &:focus {
        position: absolute;
        left: 0;
        text-decoration: underline;
        z-index: 1000;
    }
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
//    max-width: 1920px;
    height: 100vh;
}
.background-menu {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    transition: background 0.3s;
    z-index: 999;
}
.menu {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    & .hamburger {
        display: none;
    }
    
    &__logo {
        margin-left: 10px;
        flex: 1;
        color: #FFF;
        font-size: 3rem;
        font-weight: 700;
    }
    
    &__nav {
        margin-right: 10px;
        flex: 4;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
    }
    
    &__list {
        display: flex;
        flex-direction: row;
    }
    
    &__item {
        margin: 25px;    
    
        &:last-child {
            margin: 25px 0;    
        }
    }
    
    &__link {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-decoration: none;
        
        &:hover {
            color: #fce38a;
            padding-bottom: 5px;
            border-bottom: 2px solid #fce38a;
        }
        
        &--cart {
            display: block;
            width: 20px;
            height: 20px;
            background: url('../img/shopping_cart.png') top left no-repeat;
            
            &:hover {
                padding-bottom: 0;
                border: none;
                background: url('../img/shopping_cart--hover.png') top left no-repeat;
            }
        }
    }
    
    &__search-form {
        
        margin-top: -10px;
        
        & input[type=search] {
            cursor: pointer;
            background: url('../img/magnifying_glass.png') 95% 50% no-repeat;
            border: none;
            width: 30px;
            height: 40px;
            transition: all 0.3s;
            font-size: 1.6em;
            color: #FFF;
            margin-left: -10px;
            padding: 5px 30px 5px 5px;
        }
        & input[type=search]:hover {
            background: url('../img/magnifying_glass--hover.png') 95% 50% no-repeat; 
        }
        & input[type=search]:focus {
            padding-right: 30px;
//            background: #95e1d3;
            background: #95e1d3 url('../img/magnifying_glass.png') 95% 50% no-repeat;
            width: 200px;
        }
    }
    
    &__search-input input[type=search] {
        width: 10px;
    }
}

.slider {
    display: flex;
    flex-direction: row;
//    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    &__slide {
        position: relative;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 100%;
        height: 100vh;
        color: #FFF;
        background-size: cover;
        transition: all .5s;
    }
    
    &__slide:nth-child(1) {
        background: url('../img/1.jpg') center no-repeat;
    }
    
    &__slide:nth-child(2) {
        background: url('../img/2.jpg') center no-repeat;
    }
    
    &__slide:nth-child(3) {
        background: url('../img/3.jpg') center no-repeat;
    }
    
     &__slide:nth-child(4) {
        background: url('../img/4.jpg') center no-repeat;
    }
    
    &__kaushan {
        font-size: 6rem;
        font-family: 'Kaushan Script', Times, serif;
        margin-bottom: 30px;
    }
    
    &__header {
        text-transform: uppercase;
        font-size: 12rem;
        font-weight: 700;
    }
    
    &__underline {
        margin: 70px 0 50px 0;
        width: 60px;
        height: 3px;
        border: none;
        background: #FFF;
    }
    
    &__link {
        color: #FFF;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        border: 2px solid #FFF;
        padding: 12px 30px;
        
        &:hover {
            background: #FFF;
            color: #fce38a;
        }
    }
    
    &__pagination {
        position: absolute;
        bottom: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    &__timer {
        margin: 20px 25px;
    }
    
    &__progressBar[value] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: 150px;
        height: 3px;
    }
    
    &__progressBar[value]::-webkit-progress-bar {
        background-color: #FFF;
    }
    
    &__progressBar[value]::-webkit-progress-value {
        background-color: #f38181;
    }
    
    &__progressBar[value]::-moz-progress-bar {
        background-color: #f38181;
    }
    
    &__numberOfSlide {
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 1.6rem;
        color: #FFF;
    }
    &__numberBold {
        padding-right: 5px;
        font-size: 2.2rem;
        font-weight: 700;
    }
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333333;
    text-align: center;
    
    &__about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        height: 100%;
    }
    
    &__kaushan {
        margin-top: 90px;
        font-size: 2.4em;
        font-family: 'Kaushan Script', Times, serif;
    }
    
    &__header {
        margin-top: 10px;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &__underline {
        margin: 40px 0;
        width: 60px;
        height: 3px;
        border: none;
        background: #f38181;
    }
    
    &__description {
        width: 95%;
        font-family: 'Robot', arial, sans-serif;
        line-height: 23px;
        font-size: 1.5rem;
        color: #999999;
    }
    
    &__gallery {
        margin: 100px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    &__gallery-box {
        position: relative;
        margin: 10px;
        width: 380px;
        height: 250px;
        background: #95e1d3;
        
        &:hover .content__gallery-image, &:focus .content__gallery-image {
            top: -10px;
            left: -10px;
        }
        
        &:hover .content__gallery-gradient, &:focus .content__gallery-gradient {
            top: -10px;
            left: -10px;
            width: 100%;
            height: 100%;
            opacity: 1;
            background: linear-gradient(to bottom, rgba(243, 129, 129, 0.5) 0%,rgba(252, 227, 138, 0.5) 100%);
        }
        
        &:hover .content__gallery-text, &:focus .content__gallery-text {
            opacity: 1;
        }
    }
    
    &__gallery-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 380px;
        height: 250px;
        transition: all .3s;
    }
    
    &__gallery-gradient {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all .3s;
    }
    
    &__gallery-text {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 20px);
        transform: translateY(-50%);
        transform: translateX(-50%);
        font-size: 1.8em;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFF;
        opacity: 0;
        padding-top: 25px;
        background: url('../img/user.png') top center no-repeat;
        transition: all .9s;
    }
    
    &__counters {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #95e1d3;
    }
    
    &__counters-list {
        width: 1200px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    &__counters-item {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px solid #FFF;
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.4rem;
        white-space: nowrap;
    }
    
    &__counters-item:last-child {
        border-right: 1px solid #FFF;
    }
    
    &__article-container {
        position: relative;
        width: 95%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        
        &::before {
            content: '';
            width: 100%;
            position: absolute;
            top: 50%;
            border-top: 1px solid #e5e5e5;
        }
    }
    
    &__article {
        width: 33%;
        padding: 40px 5px 40px 60px;
        box-sizing: border-box;
        text-align: left;
        
        &--photography {
            background: url('../img/photography.png') top 40px left no-repeat;
        }
        
        &--web-design {
            background: url('../img/web_design.png') top 40px left no-repeat;
        }
        
        &--creativity {
            background: url('../img/creativity.png') top 40px left no-repeat;
        }
        
        &--seo {
            background: url('../img/seo.png') top 40px left no-repeat;
        }
        
        &--css-html {
            background: url('../img/css-html.png') top 40px left no-repeat;
        }
        
        &--digital {
            background: url('../img/digital.png') top 40px left no-repeat;
        }
    }
    
    &__article-header {
        text-transform: uppercase;
        font-size: 1.4rem;
        margin-bottom: 10px;
    }
    
    &__unique-design {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 990px;
//        max-width: 1920px;
        background: url('../img/bg_design.jpg') top center no-repeat;
        background-size: cover;
    }
    
    &__service {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
    }
    
    &__accordion-box {
        margin: 100px 0;
        display: flex;
        flex-direction: row;
        width: 95%;
        height: 380px;
    }
    
    &__accordion-image {
        width: 50%;
    }
    
    &__accordion {
        width: 50%;
        padding-left: 30px;
        text-align: left;
    }
    
    &__accordion-container:nth-child(1) {
        background: url('../img/photogrpahy_service.png') top 7px left 5px no-repeat;
    }
    
    &__accordion-container:nth-child(2) {
        margin: 10px 0;
        background: url('../img/creativity_service.png') top 7px left 5px no-repeat;
    }
    
    &__accordion-container:nth-child(3) {
        background: url('../img/web_design_service.png') top 7px left 5px no-repeat;
    }
    
    &__accordion-header {
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 15px 0 15px 50px;
        border: 1px solid #e5e5e5;
    }
    
    &__accordion-description {
        height: 0;
        border: 0px solid transparent;
        padding: 0 15px;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        font-style: italic;
        color: #999999;
        line-height: 24px;
        overflow-y: scroll;
        transition: all 0.5s;
        
        &-open {
            height: 195px;
            padding: 15px;
            border: 1px solid #e5e5e5;
            border-top: none;
        }
    }
    
    &__testimonials-carusel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        background: #f8f8f8;
    }
    
    &__testimonials-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        height: 250px;
        overflow: hidden;
//        background: #000;
    }
    
    &__testimonials {
        max-width: 100%;
        position: absolute;
        left: 0px;
        display: flex;
        flex-direction: row;
//        justify-content: center;
        align-items: center;
        transition: 0.2s linear;
    }
    
    &__testimonial {
        min-width: 100%;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
    
    &__testimonial-image {
        padding-left: 50px;
        width: 150px;
        height: 150px;
    }
    
    &__testimonial-box {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    &__testimonial-description {
        font-size: 2rem;
        font-family: 'Roboto', arial, sans-serif;
        color: #999999;
        line-height: 28px;
        font-style: italic;
    }
    
    &__testimonial-sign {
        position: relative;
        margin-top: 30px;
        margin-left: 60px;
        font-family: 'Kaushan Script', Times, serif;
        font-size: 2.4rem;
        color: #000;
        
        &::before {
            margin-left: -60px;
            content: '';
            position: absolute;
            top: 50%;
            border-top: 2px solid #f38181;
            width: 45px;
            height: 2px;
            
        }
    }
    
    &__testimonial-prev {
        cursor: pointer;
//        width: 30px;
//        height: 30px;
        position: absolute;
        top: 50%;
        left: 15px;
    }
    &__testimonial-next {
        cursor: pointer;
//        width: 30px;
//        height: 30px;
        position: absolute;
        top: 50%;
        right: 15px;
    }
    
    &__our-team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }
    
    &__gallery-box--team {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
    &__gallery-box--team, &__gallery-image--team {
        width: 350px;
        height: 470px;
    }
    
    &__gallery-media {
        display: flex;
        align-items: center;
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 10px);
        transform: translateY(-50%);
        transform: translateX(-50%);
        opacity: 0;
        width: 220px;
        height: 55px;
        background: #eed889;
        transition: all .3s;
    }
    
    &__gallery-box:hover .content__gallery-media {
        opacity: 1;
    }
    
    &__media-box {
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #f38181;
        
        &:hover {
            background: #f38181;
        }
        
        &:hover .content__fb {
            width: 12px;
            height: 26px;
            background: url('../img/sprites.png') -42px -10px;
        }
        
        &:hover .content__tw {
            width: 30px;
            height: 24px;
            background: url('../img/sprites.png') -308px -10px;
        }
        
        &:hover .content__pin {
            width: 25px;
            height: 26px;
            background: url('../img/sprites.png') -119px -10px;
        }
        
        &:hover .content__ins {
            width: 27px;
            height: 26px;
            background: url('../img/sprites.png') -211px -10px;
        }
        
    }
    
    &__media-box:nth-child(4) {
        border-right: 0;
    }
    
    &__fb {
        width: 12px;
        height: 26px;
        background: url('../img/sprites.png') -10px -10px;
    }
    
    &__tw {
        width: 30px; 
        height: 24px;
        background: url('../img/sprites.png') -258px -10px;
    }
    
    &__pin {
        width: 25px;
        height: 26px;
        background: url('../img/sprites.png') -74px -10px;
    }
    
    &__ins {
        width: 27px;
        height: 26px;
        background: url('../img/sprites.png') -164px -10px;
    }
    
    &__gallery-name {
        position: absolute;
        bottom: -70px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
        line-height: 25px;
        color: #333333;
    }
    
    &__name {
        white-space: nowrap;
        text-transform: uppercase;
    }
    
    &__proffession {
        font-family: 'Roboto', arial, sans-serif;
        font-size: 1.5rem;
        color: #999999;
        font-style: italic;
    }
    
    &__logo-section {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
//        height: 100%;
        background: #f8f8f8;
    }
    
    &__logo-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: 25px 0;
    }
    
    &__logo-item {
        flex: 1;
        width: 15%;
        padding: 25px 40px;
        box-sizing: border-box;
    }
    
    &__logo-img {
        width: 100%;
        height: 100%;
    }
    
    &__portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 1920px;
    }
    
    &__portfolio-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
    }
    
    &__portfolio-list {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 1920px;
        max-height: 800px;
        display: flex;
//        justify-content: flex-start;
//        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    &__portfolio-item {
//        display: flex;
//        flex-direction: row;
//        flex-wrap: wrap;
//        flex-flow: row wrap;
//        justify-content: flex-start;
//        width: 25%;
        width: 480px;
        height: 390px;
    }
    
    &__portfolio-item--high {
        width: 480px;
        height: 780px;
    }
    
//    &__portfolio-link {
//        width: 480px;
//        height: 100%;
//    }
    
    &__portfolio-img {
        width: 480px;
        height: 100%;
    }
    
    
}
@import 'mq/laptop';
@import 'mq/tablet';
@import 'mq/hamburger';