@media (max-width: 860px) {
    
    .slider__pagination {
        flex-wrap: nowrap;
    }
    .slider__progressBar[value] {
        width: 100px;
    }
    
    .slider__numberOfSlide {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    .slider__numberBold {
        font-size: 1.8rem;
    }
    
    .content__article-container {
        &::before {
            border-top: none;
        }
    }
    
    .content__article {
        width: 50%;
    }
    
    .content__accordion-box {
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    
    .content__accordion-image {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .content__accordion {
        width: 100%;
        padding-left: 0;
    }
    
    .content__logo-item {
        width: 28%;
    }
    
    .content__clients-box {
        flex-direction: column;
    }
    
    .content__clients-column {
        width: 100%;
    }
    
    .footer__container {
        flex-direction: column;
    }
    
    .footer__container-column {
        
        &:nth-child(2) {
            margin: 50px 0px;
        }
    }
}