@media (min-width: 1024px) and (max-width: 1100px) {
    
    .header__item {
        margin: 10px;
    }
    .footer__mark {
            top: 54%;
            left: 65%;
        }
    .footer__right-col {
        width: 100px;
    }
}